# Example configuration for /etc/greetd/config.toml
#
# Caelestia Greeter runs inside a minimal Wayland compositor like Cage or Hyprland.

[terminal]
# The VT on which to run the greeter
vt = 1

[default_session]
command = "cage -s -- caelestia-greeter"
user = "greeter"
